	<div class="w3ls-middle-works py-5 text-center" id="events">
		<div class="py-xl-5 py-lg-3">
			<h3 class="title text-center text-dark mb-lg-5">
				<span>Reserve an Event for your needs</span>Check out our Events below.</h3>
			@*<a href="#" class="button-w3ls my-4 text-center" data-toggle="modal" data-target="#exampleModalCenter1">Check our Events Here*@
				<i class="fas fa-long-arrow-alt-down ml-10"></i>
			</a>
		</div>
	</div>	
	<div class="agile-wthree-works py-5" id="some">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="grids-w3ls-right-2 offset-lg-7 offset-sm-4">
					<h4 class="title text-dark mb-sm-5 mb-4">Child Birthday Party</h4>						
					<p class="mt-4">– Restaurant "Name" – up to 160 guests</p>					 
					<a href="#" class="button-w3ls mt-5" data-toggle="modal" data-target="#exampleModalCenter1">Read More
						<i class="fas fa-long-arrow-alt-right ml-3"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="agile-wthree-works py-5" id="some">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="grids-w3ls-right-2 offset-lg-7 offset-sm-4">
					<h4 class="title text-dark mb-sm-5 mb-4">Wedding Venue</h4>						
					<p class="mt-4">– Restaurant "Name" – up to 160 guests;</p>					 
					<a href="#" class="button-w3ls mt-5" data-toggle="modal" data-target="#exampleModalCenter1">Read More
						<i class="fas fa-long-arrow-alt-right ml-3"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
		<div class="agile-wthree-works py-5" id="some">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="grids-w3ls-right-2 offset-lg-7 offset-sm-4">
					<h4 class="title text-dark mb-sm-5 mb-4">Banquet Feast</h4>						
					<p class="mt-4">- Restaurant "Name" - up to 160 guests;</p>					 
					<a href="#" class="button-w3ls mt-5" data-toggle="modal" data-target="#exampleModalCenter1">Read More
						<i class="fas fa-long-arrow-alt-right ml-3"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
