
	<div class="about py-5" id="about">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-center text-dark mb-sm-5 mb-4 mt-3">
				<span>Welcome to our Restaurant</span> Tasty Luxory</h3>
			<div class="row about-bottom-w3l text-center pt-lg-5">
				<div class="col-sm-6 about-grid">
					<div class="about-grid-main">
						<img src="https://coconuts.co/wp-content/uploads/2020/09/seen.jpg" alt="" class="img-fluid">
						<h4 class="mb-3">Clean & Continental Place</h4>						
						<a href="/Home/Maintenance" class="button-w3ls mt-4">Read More
							<i class="fas fa-long-arrow-alt-right ml-3"></i>
						</a>
					</div>
				</div>
				<div class="col-sm-6 about-grid mt-sm-0 mt-4">
					<div class="about-grid-main">
						<img src="https://www.teahub.io/photos/full/305-3057077_box-with-fresh-vegetables-fruit-healthy-food-concepts.jpg" alt="" class="img-fluid">
						<h4 class="mb-3">100% Healthy Food</h4>				
						<a href="/Home/Maintenance" class="button-w3ls mt-4">Read More
							<i class="fas fa-long-arrow-alt-right ml-3"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
