<div class="w3ls-middle pt-5" id="services">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-center text-dark mb-sm-5 mb-4">
				<span>The great advantages</span> of a hotel is that it is a refuge from home life</h3>
			<div class="row pt-lg-5">
				<div class="col-lg-6 text-center">
					<img src="images/3.png" alt="" class="img-fluid chef-img">
				</div>
				<div class="col-lg-4 mt-lg-0 mt-4">
					<div class="service1-wthree">
						<h4>1</h4>
						<h6 class="text-dark mt-3 mb-2">Meal Delivery</h6>
						<p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="service1-wthree my-4">
						<h4>2</h4>
						<h6 class="text-dark mt-4 mb-2">Catering</h6>
						<p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div class="service1-wthree">
						<h4>3</h4>
						<h6 class="text-dark mt-4 mb-2">Events</h6>
						<p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div class="offset-lg-2"></div>
			</div>
		</div>
	</div>