
	<!-- middle section one -->
	<div class="w3ls-middle-works py-5 text-center" id="specials">
		<div class="py-xl-5 py-lg-3">
			<h3 class="title text-center text-dark mb-lg-5">
				<span>Fresh, organic ingredients,</span>Carefully prepared, Eat green for a reason.</h3>
			<a href="#" class="button-w3ls my-4 text-center" data-toggle="modal" data-target="#exampleModalCenter1">Read more about Specials
				<i class="fas fa-long-arrow-alt-right ml-3"></i>
			</a>
			<div class="d-flex special-agiles text-left">
				<div class="col-md-6 grids-w3ls-left">
					<p class="mb-2 text-white">Our Specials</p>
					<h4 class="title text-dark mb-md-4">Carefully prepared, Fresh, organic ingredients.</h4>
					<a href="#" class="button-w3ls mt-4" data-toggle="modal" data-target="#exampleModalCenter1">Read More
						<i class="fas fa-long-arrow-alt-right ml-3"></i>
					</a>
				</div>
				<div class="col-md-6 grids-w3ls-right">
					<img src="images/middle.jpg" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
	<!-- //middle section one -->
	<!-- middle section two -->
	<div class="agile-wthree-works py-5" id="some">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="grids-w3ls-right-2 offset-lg-7 offset-sm-4">
					<h4 class="title text-dark mb-sm-5 mb-4">Tasty Food</h4>						
					<p class="mt-4">Tasty Food</p>					 
					<a href="#" class="button-w3ls mt-5" data-toggle="modal" data-target="#exampleModalCenter1">Read More
						<i class="fas fa-long-arrow-alt-right ml-3"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- //middle section two -->
