@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Restaurant</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/css/smoothbox.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <!-- header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light py-4">
            <div class="container">
                <h1>
                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-utensils"></i> Restaurant
                    </a>
                </h1>
                <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav mx-auto text-center">
                        <li class="nav-item active">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Menu
                            </a>
                            <div class="dropdown-menu text-lg-left text-center" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Services">Services</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Specials">Specials</a>
                                @*<div class="dropdown-divider"></div>*@

                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Gallery">Gallery</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
                        </li>
                    </ul>
                    @if (!SignInManager.IsSignedIn(User))
                    {
                        <div class="forms-w3ls-agilesm text-center mt-lg-0 mt-4">
                            <ul>
                                <li class="login-list-w3ls d-inline border-right pr-3 mr-3">
                                    <a href="#" class="text-white" data-toggle="modal" data-target="#exampleModalCenter1">Login</a>
                                </li>
                                <li class="login-list-w3ls d-inline">
                                    <a href="#" class="text-white" data-toggle="modal" data-target="#exampleModalCenter2">Register</a>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div class="forms-w3ls-agilesm text-center mt-lg-0 mt-4">
                            <ul>
                                <li class="login-list-w3ls d-inline border-right pr-3 mr-3">
                                    <a href="#" class="text-white" data-toggle="modal" data-target="#exampleModalCenter1">MyProducts</a>
                                </li>
                                <li class="login-list-w3ls d-inline">
                                    @* <a href="#" class="text-white" data-toggle="modal" data-target="#exampleModalCenter2">LogOut</a>*@
                                    <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/LogOut" asp-route-returnUrl="@Url.Action("Index", "Home")">Logout</a>
                                    @*<a class="nav-link text-white" asp-area="Identity" asp-controller="Account" asp-action="Logout"  asp-route-returnUrl="@Url.Action("Specials", "Home")">LogOut</a>*@
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <!-- login -->
    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login px-sm-4 mx-auto mw-100">
                        <h5 class="text-center mb-4">Login Now</h5>
                        <form asp-area="Identity" asp-controller="Account" asp-action="Login" method="post">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" name="Email" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label class="mb-2">Password</label>
                                <input type="password" class="form-control" name="Password" placeholder="" required="">
                            </div>
                            <button type="submit" class="btn btn-primary submit mb-4">Login</button>
                            <p class="text-center pb-4">
                                <a href="#">Forgot your password?</a>
                            </p>
                            <p class="text-center pb-4 create-w3ls">
                                Don't have an account?
                                <a href="#" data-toggle="modal" data-target="#exampleModalCenter2">Create one now</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //login -->
    <!-- register -->
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login px-sm-4 mx-auto mw-100">
                        <h5 class="text-center mb-4">Register Now</h5>
                        <form asp-area="Identity" asp-controller="Account" asp-action="Register" method="post">
                            <div class="form-group">
                                <label>Your Name</label>
                                <input type="text" class="form-control" name="name" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" name="email" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label class="mb-2">Password</label>
                                <input type="password" class="form-control" name="Password" id="password" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword" placeholder="" required="">
                            </div>
                            <button type="submit" class="btn btn-primary submit mb-4">Register</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //register -->
    <!-- //header -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="pt-5">
        <div class="container py-xl-5 py-lg-3">
            <div class="row footer-grids py-4">
                <div class="col-lg-4 footer-grid text-left">
                    <div class="footer-logo">
                    </div>
                </div>
                <div class="col-lg-2 col-6  footer-grid my-lg-0 my-4">
                    <h3 class="mb-sm-4 mb-3 pb-3">Home</h3>
                    <ul class="list-unstyled">
                        <li class="my-2">
                            <a class="scroll" href="#services">Login</a>
                        </li>
                        <li class="my-2">
                            <a class="scroll" href="#services">About</a>
                            @*<a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="About">About</a>*@
                        </li>
                        <li>
                            <a class="scroll" href="#services">Services</a>
                        </li>
                        <li class="my-2">
                            <a class="scroll" href="#gallery">Gallery</a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-2 col-6 footer-grid footer-contact">
                    <h3 class="mb-sm-4 mb-3 pb-3"> Contact Us</h3>
                    <ul class="list-unstyled">
                        <li>
                            +359 883 82 02 42
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- copyright -->
        @*	<div class="copy_right">
            <p class="text-center text-white py-sm-4 py-3">© 2018 Snacks. All rights reserved | Design by
            <a href="http://w3layouts.com/">W3layouts</a>
            </p>

            </div>*@
        <!-- //copyright -->
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="~/js/easing.js"></script>
    <script src="~/js/jquery-2.2.3.min.js"></script>
    <script src="~/js/move-top.js"></script>
    <script src="~/js/responsiveslides.min.js"></script>
    <script src="~/js/smoothbox.jquery2.js"></script>
    <script src="~/js/SmoothScroll.min.js"></script>
    <script src="~/js/snacks.js"></script>
    <script type="text/javascript" src="path/to/smoothscroll.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="responsiveslides.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
